.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container input {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(65, 105, 225, 0.568);
  border-radius: 4px;
  text-align: center;
}
.buttonAddContainer {
  width: 100px;
  height: 40px;
  margin: 10px 10px;
  border: 1px solid rgb(1, 28, 102);
  border-radius: 4px;
  text-align: center;
}
.buttonAddContainer:hover {
  cursor: pointer;
}
.showEmployees {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(221, 128, 128);
}
